<div class="col-12 full-width">
  {{- if .Get "title" }}
    {{- $first := strings.Chomp (collections.Index (strings.Split (.Get "title") "$") 0) }}
    {{- $second := strings.Chomp (collections.Index (strings.Split (.Get "title") "$") 1) }}
    <div class="overlay">
      <img src="/logo.png" class="" alt="Logo MadCap" />
      <h1>
        {{ $first }} <br />
        {{ $second }}
      </h1>
    </div>
  {{- end }}
  {{- if .Get "legend" }}
    <div class="legend">
      <figcaption>{{ .Get "legend" }}</figcaption>
    </div>
  {{- end }}
  <div class="bg">
    {{ .Inner }}
  </div>
</div>
